<a href="https://colab.research.google.com/github/mohiuddinsaumik/Data_Inights1/blob/main/OOP_24_self_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class Student:
  def __init__(self,name,band):
    self.name = name
    self.band = band

  @staticmethod

  def hello():
    print("Hello there...")

  def get_avg(self):
    sum = 0
    for value in self.band:
      sum += value
    print("Hello ",self.name, "your overall Band is : ", sum/4)

In [8]:
s1 = Student("Jamal Kudu",[7,6.5,7,7])
s1.get_avg()

Hello  Jamal Kudu your overall Band is :  6.875

***Static Methode***
its dont use "***__self__***" parameter

In [12]:
@staticmethod

def hello():
  print("Hello there...")

In [11]:
s1.hello()

Hello there...

In [13]:
class Car:

  def __init__(self) -> None:
    self.acc = False
    self.brk = False
    self.clutch = False

  def start(self):
    self.clutch = True
    self.acc = True
    print("Car stared... ")

In [15]:
car1 = Car()
car1.start()

Car stared...

Create Account class with two (2) attributes - Balance & Account No.
Create methode for debit, credit & show the Balance.

In [28]:
class Account:
  def __init__(self,bal,acc) :
    self.balance = bal
    self.account_no = acc

  def debit(self, amount):
    self.balance  -= amount
    print("BDT",amount, "Was debited")
    print("Total balance = ",self.get_balance())

  def credit(self,amount):
    self.balance += amount
    print("BDT", amount, "was creadited")
    print("Total balance", self.get_balance())

  def get_balance(self):
    return self.balance

In [29]:
acc1 = Account(15000, 29998213232)
print(acc1.balance, "BDT")

15000 BDT

In [30]:
acc1.credit(30000)

BDT 30000 was creadited
Total balance 45000

In [31]:
acc1.debit(22000)

BDT 22000 Was debited
Total balance =  23000